[workspace]
authors = ["canoziia <canoziia@projectk.org>"]
channels = ["conda-forge"]
name = "assignment4"
platforms = ["linux-64"]
version = "0.1.0"

[tasks]

[dependencies]
python = ">=3.14.0,<3.15"
pip = ">=25.3,<26"
